.grid_item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
}

body {
    display: flex;
    justify-content: center;
    background-color:teal;
}

.grid_item img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border: 5px solid;
}

.grid {
    display: flex;
    align-items: flex-end;
}

#chowchow {
    display: flex;
    align-items: baseline;
    border: 5px solid blueviolet;
}

h1 {
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}
#title {
    align-items: center;
}

#mutto {
    font-family: Snell Roundhand, cursive;
    font-size: x-large;
}

#title {
    font-family: Marker felt, fantasy;
    font-size: xx-large;
    text-align: center;
}