h1 {
  color: blue;
  font-family: "Lucida Console", Courier, monospace;
  display: flex;
  justify-content: center;
}

.logo {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

body {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
    
}

.motto {
    color: rgb(27, 20, 129);
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
}