.mainTitle {
	color: purple;
	font-family: impact;
}

.smallTitle {
	font-family: "Lucida Console";
}

#motto {
	color: yellow;
	font-family: cursive;
}

#memberList {
	font-family: "Brush Script MT";
	font-size: 20
}